* {
    margin: 0;
    padding: 0;
    background-image: url("img/wallpaper.png");
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    color: darkgreen;
}

table {
    align-items: center;
    width: 100%;
    border-collapse: collapse;
    font-family: Times New Roman, serif;
    font-size: large;
    font-weight: 550;
}

caption {
    font-size: large;
    text-align: left;
}

td {
    text-align: initial;
    padding: 8px;
    border: 2px solid darkolivegreen;
}

#check {
    border-collapse: collapse;
    padding: inherit;

}

tr {
    height: 5em;
    width: 3em;
    font-size: large;
}

button {
    position: absolute;
    text-align: center;
    font-size: large;
    background-color: white;
}
